AddDefaultCharset utf-8
DirectoryIndex accueilAdmin.php
AuthName "Restricted Files"
AuthType Basic
# (Following line optional)
AuthUserFile C:\xampp\htdocs\vhb-sio-ppe-histoStages-gr3\admin\.htpasswd
Require valid-user
